﻿/*
	[DESTOON B2B System] Copyright (c) 2008-2018 www.destoon.com
	This is NOT a freeware, use is subject to license.txt
*/
body {_background-image:url('../images/spacer.gif');_background-attachment:fixed;}
#head {_position:absolute;_top:expression(documentElement.scrollTop);}