﻿/*design by Chandixiu£¬QQ:761903*/
/*base*/
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {margin:0;padding:0;}
body{font-family:Arial,"Î¢ÈíÑÅºÚ",Geneva,Microsoft YaHei,Microsoft JhengHei,"Helvetica Neue",Helvetica,sans-serif;font-size:12px;color:#585858;-webkit-font-smoothing:antialiased; background:#f5f5f5}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6,button,dd,dt,dl{margin:0px;padding:0}
h1,h2,h3,h4,h5,h6,button,.btn{clear:both;font-size:14px;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;_display:block;}
form,input,select;,textarea,td,th {font-size:12px;}
img {border:none;}
em,i{font-style:normal}
li {list-style-type:none;}
button, input {height:auto;-ms-interpolation-mode:bicubic;vertical-align:middle;}
textarea {background:none repeat scroll 0 0 #ffffff;resize:none;}

/*link style*/
a{color:#555555;text-decoration:none;}
a:hover{color:#ee2e2c;}
.m {margin:auto;width:1200px;clear:both; overflow:hidden;}
.w1200 {margin:auto;width:1200px;clear:both;}

.top{padding:20px 0px 28px 0px; background:white; position:relative;overflow:hidden}
/*logo*/
.logo{width:300px; position:relative;height:60px; overflow:hidden}
.modname{font-size:22px;width:100px;position:absolute; font-weight:bold; left:190px; bottom:0px}
.keywords{position:absolute; top:55px;left:410px}
.keywords a{margin-right:10px;color:#777}
.keywords a:hover{color:#f46;text-decoration:underline}

.head_search {float:left;width:590px;height:42px;margin-top:14px;position:relative;}
.head_search_on {float:left;width:590px;height:42px;margin-top:14px;position:relative;}

.head_search em{font-size: 0;  
    line-height: 0;  
    border-width: 5px;  
    border-color: #ee2e2c;  
    border-top-width: 0;  
    border-style: dashed;  
    border-bottom-style: solid;  
    border-left-color: transparent;  
    border-right-color: transparent;  position:absolute; left:70px;top:18px}
.head_search_on em{font-size: 0;  
    line-height: 0;  
    border-width: 5px;  
    border-color: #ee2e2c;  
    border-bottom-width: 0;  
    border-style: dashed;  
    border-bottom-style: solid;  
    border-left-color: transparent;  
    border-right-color: transparent;  position:absolute; left:70px;top:18px}

.search_i {width:391px;font-size:14px;height:38px;line-height:38px;padding:0px 0 0 10px;color:#666666;background:url('image/spacer.gif');border:#ee2e2c 2px solid;border-left:none}
.search_i:focus{outline:none;}
.search_m {width:75px;cursor:default;padding:0px 0px 0 10px;font-size:14px;height:38px;line-height:38px;color:#333;border:#ee2e2c 2px solid;float:left; border-right:none; background:url(img/so-r.png) no-repeat right top;}

.search_s {width:100px;height:42px; letter-spacing:2px;font-size:16px;line-height:42px; border:none; padding:0px 0px 0px 20px;margin:0;cursor:pointer;color:white;background:#ee2e2c url(img/so-ico.png) no-repeat 12px 12px;float:right}

#search_module {z-index:1000;position:absolute;width:85px;overflow:hidden;margin:76px 0 0 300px;font-size:14px;line-height:28px;color:#666666;background:#FFFFFF;text-align:center;border:#ee2e2c 1px solid;padding:0px 0px}
#search_module li {display:block;height:35px;line-height:35px; cursor:pointer }
#search_module li:hover {background:#ee2e2c;color:#fff;}

#search_tips {z-index:1000;position:absolute;width:401px;overflow:hidden;cursor:pointer;margin:76px 0 0 386px;font-size:14px;line-height:20px;color:#666666;background:#FFFFFF;border:#eee 1px solid;padding-top:8px;}
#search_tips div {height:20px;padding:3px 8px 3px 10px;clear:both;overflow:hidden;}
#search_tips div span {float:right;font-size:12px;}
#search_tips label {display:block;width:100%;background:#f5f5f5;font-size:12px;line-height:26px;color:#ff7200;text-align:right;}
.search_t_div_1 {color:#333333;}
.search_t_div_1 span {color:#008000;}
.search_t_div_2 {background:#3366CC;color:#FFFFFF;}
.search_t_div_2 span {color:#FFFFFF;}
.fabu{width:120px;height:40px;float:left;margin-top:14px;text-align:center;font-size:14px;margin-left:20px;}
.fabu a{display:block;border:#e3e3e3 1px solid;float:left;line-height:40px;padding:0px 10px}
.fabu a:hover{background:#efefef}
.ydz{width:100px;text-align:center;float:right; position:absolute; left:50%;margin-left:500px; top:10px;z-index:1000}
.ydz img{width:60px;height:60px;border:#eee 1px solid;padding:2px;margin-top:3px}





.m0 {width:100%; background:#f5f5f5; overflow:hidden;padding:0px 0px 20px 0px}
.m0 .m {}
.m1 {background:url('image/bg-line.png') repeat-y 960px 0;}
.m1l {width:940px;float:left;}
.m1r {width:239px;float:right;}
.m2 {background:url('image/bg-line.png') repeat-y 960px 0;}
.m2l {width:940px;float:left;}
.m2r {width:219px;float:right;}
.m3 {background:url('image/bg-line.png') repeat-y 880px 0;}
.m3l {width:860px;float:left;}
.m3r {width:299px;float:right;}

.navs {margin:0px; float:left;padding:0px; width:100px;position: absolute;left:0px;top:10px;z-index:1000;background:url(img/icon.png) no-repeat;
}
.navs:hover{background:url(img/icon.png) no-repeat left -63px;color:red}
.navs em{padding-left:20px}
.navs dl{display:none}
.navs:hover dl {
  display: inline-block;position: relative;z-index:10000;background:white;width:150px;box-shadow: 0px 0px 3px rgba(0,0,0,0.15);top:10px;padding:10px;
}
.navs dl dd{float:left;width:50%;line-height:25px;}

.head {background:#f7f7f7;width:100%;height:36px}
.head_m {margin:auto;width:1200px;padding:9px 0 0 0;color:#666666;position:relative}
.head_s {height:0px;}
.head_t strong{color:#FF0000;font-weight:normal;}
.head_l{margin-left:95px}
.head_l li {float:left;margin:0 10px 0 0;}
.head_r {float:right;}
.head_r img {position:relative;margin:-2px 6px 0 0;}
.h_location {background:url('image/ico-location.png') no-repeat 0 center;padding:0 6px 0 20px;}
.h_fav {background:url('image/ico-fav.png') no-repeat 0 center;padding:0 6px 0 20px;}
.h_mobile {background:url('image/ico-mobile.png') no-repeat 0 center;padding:0 6px 0 20px;}
.h_cart {background:url('image/ico-cart.png') no-repeat 0 center;padding:0 6px 0 20px;}
.h_qrcode {background:url('image/ico-qrcode.png') no-repeat 0 center;padding:0 6px 0 20px;}	
/* common */
.m0 {width:100%; position:relative}
.m1 {background:url('image/bg-line.png') repeat-y 960px 0;}
.m1l {width:940px;float:left;}
.m1r {width:239px;float:right;}
.m2 {background:url('image/bg-line.png') repeat-y 960px 0;}
.m2l {width:940px;float:left;}
.m2r {width:219px;float:right;}
.m3 {background:url('image/bg-line.png') repeat-y 880px 0;}
.m3l {width:860px;float:left;}
.m3r {width:299px;float:right;}

/* menu */
.allmenu{width:200px;float:left;background:#d10000 url(img/index-icon.png) no-repeat 15px 13px;color:white;text-indent:40px;font-size:16px;line-height:40px;font-weight:normal}
.menu {height:40px;line-height:40px;background:white;font-size:16px;overflow:hidden; background:#ee2e2c}
.menu ul{overflow:hidden;padding-left:20px;}
.menu li {float:left;}
.menu li a{padding:0px 22px;color:white;font-weight:bold; display:block}
.menu li a:hover{background:#d10000}
.menu .menuon a{color:white}


.sub-menu {height:40px;line-height:40px;background:#ee2e2c;font-size:16px;overflow:hidden;margin-top:-20px;margin-bottom:20px;}
.sub-menu ul{overflow:hidden;}
.sub-menu li {float:left;padding:0px 20px 0px 0px;}
.sub-menu li a{color:white;padding:6px 13px;}
.sub-menu .menuon a{color:#ee2e2c; background:white}
.sub-menu ul li a:hover{color:#ee2e2c; background:white}


.foot {color:#666666;text-align:center;line-height:32px;padding:10px 0 10px 0;}
.foot_page {background:#EEEEEE;padding:0 10px;text-align:center;height:48px;line-height:48px;overflow:hidden;color:#666666;}

/* layout */
.m_l {width:880px;}
.m_r {width:300px;}
.m_n {width:20px;}
.m_l_1 {width:1000px;}
.m_r_1 {width:180px;}
/* left */
.left_box {border:#eee 1px solid;}
.left_head {border-bottom:#eee 1px solid;height:44px;line-height:44px;overflow:hidden;padding:0 10px;}
.left_head strong {font-size:16px;}
.left_head em {font-style:normal;color:#666666;}

/* box */
.box_head {border-bottom:#eee 1px solid;height:44px;line-height:44px;overflow:hidden;padding:0 10px;}
.box_head strong {font-size:14px;display:block;}
.box_head em {font-style:normal;color:#666666;}

.box_body {padding:10px;}
.box_body li {height:32px;line-height:32px;overflow:hidden;}

.tab_head {border:#eee 1px solid;border-bottom:none;height:31px;line-height:31px;font-size:14px;overflow:hidden;background:#EEEEEE;font-weight:bold;}
.tab_1 {float:left;padding:0 15px 0 15px;border-right:#eee 1px solid;cursor:pointer;font-weight:normal;}
.tab_2 {float:left;padding:0 15px 0 15px;border-right:#eee 1px solid;cursor:pointer;background:#FFFFFF;}
.tab_1_1 {border-bottom:#eee 1px solid;cursor:pointer;}
.tab_1_2 {border:#eee 1px solid;border-bottom:none;cursor:pointer;font-weight:bold;}

.tab_head_2 {height:27px;background:#EEEEEE;border-left:#eee 1px solid;border-right:#eee 1px solid;text-align:center;padding-left:12px;}
.tab_2_1 {float:left;width:80px;height:27px;line-height:31px;overflow:hidden;background:url('image/tab_2_1.gif') no-repeat 6px right;cursor:pointer;}
.tab_2_1 span {color:#333333;}
.tab_body_2 {border:#eee 1px solid;border-top:none;}

.li_dot li {background:url('image/li_dot.gif') no-repeat 5px 10px;padding:0 10px 0 12px;}
/* pages */
.pages {padding:24px 0;text-align:center;font-size:12px;color:#666666;clear:both;}
.pages a:link,.pages a:visited,.pages a:active {background:#FFFFFF;border:#eee 1px solid;padding:6px;text-decoration:none;}
.pages a:hover {background:#258CFF;border:#258CFF 1px solid;color:#FFFFFF;padding:6px;text-decoration:none;}
.pages strong {background:#258CFF;padding:6px;border:#258CFF 1px solid;color:#FFFFFF;}
.pages_inp {width:32px;border:#eee 1px solid;color:#666666;padding:4px;text-align:center;}
.pages_btn {width:32px;border:#FF6600 1px solid;color:#FFFFFF;padding:4px 6px;background:#FF6600;font-weight:bold;font-size:11px;}
.pages label {background:#FFFFFF;border:#eee 1px solid;color:#666666;padding:6px 6px;}
.pages label em {color:red;font-weight:bold;font-style:normal;}
.pages label span {font-weight:bold;}
.pages cite {font-style:normal;}
/* table */
.tb {width:100%;}
.tb th {background:#EEEEEE;}
.tb td {border-bottom:#eee 1px solid;}
.tb tr:hover {background:#F3F3F3;}

.tf {width:100%;}
.tf td {border-top:#F0F0F0 1px solid;}
.tf tr:hover {background:#F4F4F4;}
.tf .tl {width:100px;text-align:right;}
.btns {padding:20px 20px 20px 150px;}
.thumb {padding:6px 0;}
.thumb img {border:#eee 1px solid;padding:2px;}
.thumb li {height:22px;line-height:22px;overflow:hidden;}
.thumbml ul {margin:10px 0 15px 0;}
.imb img {border:#eee 1px solid;padding:3px;}
/* album */
#mid_pos {position:absolute;}
#mid_div {width:330px;height:280px;cursor:crosshair;padding:0px 0px 10px 0px;}
#zoomer {border:#333333 1px solid;width:120px;height:90px;background:#FFFFFF url('image/zoom_bg.gif');position:absolute;opacity:0.5;filter:alpha(opacity=50);}
#big_div {width:400px;height:300px;border:#CCCCCC 1px solid;background:#FFFFFF;position:absolute;overflow:hidden;z-index:1000}
#big_pic {position:absolute;}
.ab_im {padding:2px;margin:10px 0 10px 32px;border:#C0C0C0 1px solid;}
.ab_on {padding:2px;margin:10px 0 10px 32px;border:#FF6600 1px solid;background:#FF6600;}
/* ads */
.adword table {background:url('image/adword_bg.gif') repeat-x 0 bottom;}
.adword_tip {color:#FF1100;border-bottom:#eee 1px solid;padding:8px 10px 8px 28px;background:url('image/arrow_up.gif') no-repeat 10px 8px;}
.sponsor {margin-bottom:10px;}
/* basic */
.f_l {float:left;}
.f_r {float:right;}
.t_l {text-align:left;}
.t_r {text-align:right;}
.t_c {text-align:center;}
.f_b {font-weight:bold;}
.f_n {font-weight:normal;}
.f_white {color:white;}
.f_gray {color:#666666;}
.f_orange {color:#FF6600;}
.f_red {color:red;}
.f_green {color:green;}
.f_blue {color:blue;}
.f_dblue {color:#007AFF;}
.f_price {font-weight:bold;font-family:Arial;color:#FF0000;}
.px12 {font-size:12px;}
.px14 {font-size:14px;}
.px16 {font-size:16px;}
.px18 {font-size:18px;}
.bd-t {border-top:#eee 1px solid;}
.bd-b {border-bottom:#eee 1px solid;}

.b10 {height:10px;}
.b16 {height:16px;}
.b20 {height:20px;}
.b24 {height:24px;}
.b32 {height:32px;}
.pd3 {padding:3px;}
.pd5 {padding:5px;}
.pd10 {padding:10px;}
.pd15 {padding:15px;}
.pd20 {padding:20px;}
.lh18 {line-height:180%;}
.ls1 {letter-spacing:1px;}
.c_p {cursor:pointer;}
.c_b {clear:both;}
.o_h {overflow:hidden;}
.dsn {display:none;}
.absm {vertical-align:middle;}

.btn_s {background:#2388FA;color:#FFFFFF;border:none;padding:2px;letter-spacing:1px;}
.btn_r {background:#D7D7D7;color:#666666;border:none;padding:2px;letter-spacing:1px;}
.bd {border:#CAD9EA 1px solid;}
.highlight {color:red;}
.jt {color:#003278;cursor:pointer;}
.np {padding:20px 30px 20px 50px;line-height:25px;}
.lazy {background:#FAFAFA url('image/loading.gif') no-repeat center center;}
.slide {background:#FAFAFA;overflow:hidden;}

.btn,.btn-green,.btn-blue,.btn-red {color:#FFFFFF;font-size:14px;width:100px;line-height:32px;border:none;border-radius:4px;text-align:center;cursor:pointer;padding:0;-webkit-appearance:none;}
.btn{background:#FFFFFF;border:#eee 1px solid;color:#333333;}
.btn:hover{background:#D9D9D9;border:#CDCDCD 1px solid;}
.btn-green{background:#1AAD19;border:#18A117 1px solid;color:#FFFFFF;}
.btn-green:hover{background:#179B16;border:#159014 1px solid;}
.btn-blue{background:#007AFF;border:#1E74D0 1px solid;color:#FFFFFF;}
.btn-blue:hover{background:#0569D5;}
.btn-red{background:#F8F8F8;border:#C6C6C6 1px solid;}
.btn-red:hover{background:#CE3C39;border:#BF3835 1px solid;color:#FFFFFF;}

/* position */
.pos {padding:0 16px;height:30px;line-height:30px;background:#EEEEEE;}
.nav {padding:0 10px 15px 22px;height:24px;line-height:24px;background:url('image/ico-nav.png') no-repeat 0px 3px;font-size:14px;}
.nav div {float:right;}
.nav i {font-style:normal;color:#777;padding:0 0px;font-family:simsun;}
.nav em {font-style:normal;color:#999999;padding:0 10px;font-size:12px;}
.nav a{color:#777}
.nav a:hover{color:#ee2e2c}
/* show */
.title {height:48px;line-height:48px;text-align:center;font-weight:bold;font-size:22px;padding:0;margin:0;}
.title_trade {font-weight:bold;font-size:22px;margin:0 0 20px 0;padding:0 0 20px 0;border-bottom:#eee 1px solid;}
.info {padding:16px;background:#F2F2F2;}
.introduce {margin:20px 0;padding:20px;line-height:180%;font-size:16px;background:#F2F2F2;border-left:#eee 2px solid;}
.content {font-size:16px;line-height:200%;padding:16px;}
.content p {text-indent:2em;}
.content a:link,.content a:visited,.content a:active {color:#225588;text-decoration:underline;}
.content a:hover {color:#FF6600;text-decoration:none;}
.property {border:#E6E6E6 1px solid;background:#F6F6F6;padding:10px;margin:0 10px 0 10px;}
.property li {float:left;width:30%;height:22px;line-height:22px;overflow:hidden;}
.detail {background:url('image/arrow.gif') no-repeat 0 9px;border-bottom:#C0C0C0 1px dotted;padding:8px 0 8px 20px;margin:0 15px 0 15px;}
.related {padding:10px 16px;line-height:32px;}
.related a {font-size:14px;}
.keylink {font-weight:normal;padding:0 3px 0 3px;}
.share {width:20px;height:20px;cursor:pointer;}
.share:hover {width:24px;height:24px;}
.award {padding:32px;text-align:center;}
.award div {width:80px;height:44px;line-height:44px;font-size:20px;font-weight:bold;letter-spacing:2px;margin:auto;background:#FFFFFF;color:#E94657;border:#E94657 2px solid;border-radius:10px;cursor:pointer;}
.award div:hover {background:#E94657;color:#FFFFFF;}
#comment_main div {height:100px;background:url('image/loading.gif') no-repeat center center;}

/* search */
.fsearch {padding:5px 0 10px 15px;margin:1px 1px 0 1px;background:#F5FAFE url('image/fsearch_bg.gif') repeat-x;;}
.sch {padding:15px 20px 5px 20px;margin-bottom:10px;}
.sch p {padding:10px 10px 10px 10px;font-size:13px;margin:0;}
.sch_find {border-top:#eee 1px solid;border-bottom:#EEEEEE 1px solid;margin:5px 0 5px 0;padding:5px 0 5px 5px;font-weight:bold;}
.sch_site li {background:url('image/ico_search.gif') no-repeat 3px 3px;height:23px;line-height:23px;overflow:hidden;padding:0 5px 0 25px;color:#666666;}
.sch_relate li {background:url('image/arrow_up.gif') no-repeat 3px 3px;height:23px;line-height:23px;overflow:hidden;padding:0 5px 0 25px;color:#666666;}
.rank_list {background:url('image/rank_list.gif') no-repeat;}
.rank_list li {height:23px;line-height:23px;overflow:hidden;padding:0 5px 0 35px;}
.ppt {padding:1px 15px 1px 35px;line-height:25px;}
.ppt_l {width:60px;font-weight:bold;}
.ppt_r {color:#DFDFDF;}
.ppt span {padding:1px;background:#2E6AB1;border:#1D589E 1px solid;color:#FFFFFF;}
/* sell && buy && company */
.category {padding:10px 20px 5px 15px;}
.category p {padding:5px 0 5px 0;margin:0;}
.category div {padding:0 20px 0 20px;}

.contact_head {height:44px;line-height:44px;border:#eee 1px solid;border-bottom:none;background:#EEEEEE;padding:0 16px;font-weight:bold;font-size:16px;}
.contact_body {padding:10px;border:#eee 1px solid;border-top:none;margin-bottom:16px;}
.contact_body li {line-height:24px;border-bottom:#E2E2E2 1px solid;padding:6px 10px;}
.contact_body li span {color:#1B4C7A;padding:0 8px 0 0;}

.type {height:31px;line-height:31px;overflow:hidden;border-top:#eee 1px solid;background:#EEEEEE;padding-left:35px;}
a.type_1:link,a.type_1:visited,a.type_1:active,a.type_1:hover {float:left;display:block;padding:0 15px 0 15px;background:#FFFFFF;color:#000000;font-weight:bold;}
a.type_2:link,a.type_2:visited,a.type_2:active {float:left;display:block;padding:0 15px 0 15px;border-right:#E2F0FB 1px solid;}
a.type_2:hover {background:#258CFF;color:#FFFFFF;}
.img_tip {width:200px;z-index:1000;position:absolute;padding:5px;border:#eee 1px solid;background:#FFFFFF;}
.vote {padding:10px;}
.vote div {font-weight:bold;}
.vote li {padding:3px 0 3px 0;}
.vote p {margin:5px 0 5px 0;}

.sort {line-height:48px;border-bottom:#eee 1px solid;font-size:14px;}
.sort-k {width:80px;padding-left:10px;font-weight:bold;float:left;overflow:hidden;}
.sort-v {width:850px;float:left;}
.sort-v li {float:left;padding:0 10px;}
.sort-v .on {background:#EEEEEE;}
.sort-v i {font-style:normal;padding-left:2px;color:#999999;font-size:12px;}
.sort-v b {padding:0 20px;}
.sort-v input, .sort-v select {padding:4px;}
.sort-v .btn-blue, .sort-v .btn {padding:0;line-height:28px;width:80px;margin-right:20px;}

.list {line-height:180%;}
.list:hover {background:#F2F2F2;}
.list div img {border:#eee 1px solid;}
.list table {width:100%;border-bottom:#eee 1px solid;}
.list td {padding:10px 0 10px 0;}
.list h3 {font-size:14px;margin:0px;height:22px;overflow:hidden;}

.user-info {height:55px;padding:25px 15px;background:#EEEEEE;}
.user-info img {width:55px;height:55px;border-radius:50%;float:left;margin-right:15px;}
.user-info ul {overflow:hidden;}
.user-info li {height:30px;line-height:30px;overflow:hidden;}
.user-info strong {font-size:14px;font-weight:normal}
.user-info em {font-size:12px;font-style:normal;float:right;}
.user-info i {font-style:normal;color:#999999;padding:0 6px;}

.head-txt {padding:0 6px 10px 6px;line-height:28px;border-bottom:#eee 1px solid;margin-bottom:20px;clear:both; background:white; overflow:hidden}
.head-txt strong {font-size:18px;}
.head-txt span {float:right;font-size:14px;color:#999999;}
.head-txt i {font-style:normal;font-weight:bold;padding:0 2px;font-family:simsun;}

.head-sub {padding:0 6px 0px 10px;line-height:35px;border-bottom:#eee 1px solid;clear:both; background:white;}
.head-sub strong {font-size:16px;font-weight:normal}
.head-sub span {float:right;font-size:14px;color:#999999;}
.head-sub i {font-style:normal;font-weight:bold;padding:0 2px;font-family:simsun;}

.list-thumb {text-align:center;}
.list-thumb img {border:#eee 1px solid;padding:2px;}
.list-thumb li {height:32px;line-height:32px;overflow:hidden;}

.list-img ul {margin:6px 24px 24px 0;}
.list-img li {height:24px;line-height:24px;overflow:hidden;font-size:14px;}
.list-img em {font-size:12px;font-style:normal;color:#999999;}
.list-img i {font-size:12px;font-style:normal;color:#999999;float:right;padding-right:6px;}

.list0 {width:1224px;}
.list0:after {content:"";display:block;clear:both;}
.list0 div {width:204px;float:left;}
.list0 img:hover {border-left:#FFFFFF 1px solid;}

.list1 {width:960px;}
.list1:after {content:"";display:block;clear:both;}
.list1 div {width:192px;float:left;}
.list1 img:hover {border-left:#FFFFFF 1px solid;}

.list-txt {padding:10px; background:white; overflow:hidden;margin-bottom:20px;}
.list-txt li {height:32px;line-height:32px;overflow:hidden;font-size:14px;padding:0 0px 0 0px;list-style-type: square;color: #0099ff;}
.list-txt .f_r {font-size:12px;color:#666666;}

.list-rank {padding:10px; background:white;margin-bottom:20px}
.list-rank li {height:32px;line-height:32px;font-size:14px;padding:0 0px;overflow:hidden;}
.list-rank .f_r {float:right;font-size:12px;color:#666666;padding-left:10px;}
.list-rank em {font-size:20px;font-style:normal;color:#F34540;padding-right:5px;font-family:Georgia;}
.list-rank i {font-size:20px;font-style:normal;color:#999999;padding-right:5px;font-family:Georgia;}

.list-cate {}
.list-cate:after {content:"";display:block;clear:both;}
.list-cate td {width:410px;font-size:14px;padding:10px 10px 20px 10px;}
.list-cate td:hover {background:#EEEEEE;}
.list-cate p {margin:0 0 10px 0;}
.list-cate li {float:left;line-height:32px;}
.list-cate em {font-style:normal;color:#eee;padding:0 10px;}
.list-cate i {font-style:normal;color:#eee;padding:0 10px;}

.list-cate2 {padding:0 0 20px 0;}
.list-cate2:after {content:"";display:block;clear:both;}
.list-cate2 li {width:116px;padding:0 16px;float:left;height:32px;line-height:32px;font-size:14px;overflow:hidden;}
.list-cate2 li:hover {background:#EEEEEE;}
.list-cate2 i {font-size:12px;font-style:normal;color:#666666;padding-left:6px;}

.list-area {width:880px;}
.list-area:after {content:"";display:block;clear:both;}
.list-area li {width:103px;float:left;height:32px;line-height:32px;font-size:14px;overflow:hidden;text-align:center;border:#eee 1px solid;margin:0 20px 20px 0;}
.list-area li:hover {border:#FF6600 1px solid;}

.list-area4 {padding:0 0 20px 0;}
.list-area4:after {content:"";display:block;clear:both;}
.list-area4 li {width:25%;float:left;height:32px;line-height:32px;font-size:14px;overflow:hidden;text-align:center;}
.list-area4 li:hover {background:#EEEEEE;}

.tab-head {}
.tab-head ul {border-bottom:#eee 1px solid;height:35px;padding-left:16px;}
.tab-head li {border-bottom:#eee 1px solid;display:inline-block;height:35px;line-height:35px;margin-right:20px;float:left;font-size:14px;}
.tab-head .on {border-bottom:#ee2e2c 3px solid;height:33px;line-height:32px;}
.tab-head .on span {color:#ee2e2c;}

/* side */
.side em {font-size:12px;font-style:normal;color:#999999;}
.side a {width:90%;display:block;font-size:16px;}
.side input {width:140px;border:#eee 1px solid;border-radius:8px;padding:8px 8px 8px 26px;font-size:14px;background:#FFFFFF url('image/icon-search16.png') no-repeat 6px center;outline:none;margin:16px 16px 16px 32px;}
.side input:hover {width:180px;}
.side_li {line-height:48px;height:48px;padding-left:32px;overflow:hidden;}
.side_li:hover {background:#F3F3F3;}
.side_on {line-height:48px;height:48px;background:#EEEEEE;padding-left:32px;overflow:hidden;}

.warn {padding:30px 100px 30px 200px;}
.warn div {padding:5px 0 0 60px;background:url('image/warn.gif') no-repeat;font-size:14px;line-height:200%;}
.warn h1 {font-size:16px;margin:0;}
.guest_warn {padding:2px 0 2px 0;text-align:center;margin:0 130px 15px 130px;background:#FFF5D8;border:#FF7300 1px solid;}
.back2top {width:58px;height:58px;position:fixed;_position:absolute;left:50%;margin-left:620px;bottom:100px;_bottom:auto;cursor:pointer;display:none;}
.back2top a {display:block;width:100%;height:100%;background:url('image/back2top.png') no-repeat;}
.back2top a:hover {background:url('image/back2top.png') no-repeat -58px 0;}
#powered {padding:6px 0 20px 0;}

/*---footerµ×²¿ÐÅÏ¢-----*/
#footerBox {width:100%;min-width:1200px;padding:40px 0;background:#1b1b1b;margin-top:20px;}
#footerBox .footer {width:1200px;margin:0 auto;}
.footer .footerTop {height:auto;overflow:hidden;padding-bottom:40px;color:#a0a0a0;}
.footerTop a {color:#a0a0a0;}
.footerTop .gfNavItem {margin-right:100px;display:inline-block;line-height:26px;vertical-align:top;*float:left;}
.footerTop .gfNavItem.gfLt {margin-right:80px;}
.footerTop .gfNavItem.about {margin-right:0;}
.footerTop .gfLt .logo {display:block;width:156px;height:60px;}
.footerTop .gfLt .tel {font-size:20px;padding-top:20px;color:#fff;}
.footerTop .gfLt .tel .iconfont {font-size:16px;margin-right:8px;color:#a0a0a0;}
.footerTop .gfLt .date {color:#6e6e6e;}
.gfNavItem .gfNavTitle {width:130px;font-size:16px;color:#ddd;font-weight:normal;border-bottom:1px #2f2f2f solid;padding-bottom:12px;margin-bottom:8px;}
.gfNavItem .gfNavLink {display:block;}
.footer .fonterCode {float:right;padding:0 0 10px 75px;line-height:26px;border-left:1px #2f2f2f solid;}
.fonterCode .mobileTitle {font-size:16px;color:#ddd;font-weight:normal;}
.fonterCode .codeBox {height:auto;overflow:hidden;margin-right:-30px;padding-top:12px;}
.fonterCode .codeBox dl {width:76px;float:left;display:inline;margin-right:30px; text-align:center}
.fonterCode .codeBox dl dt {text-align:center;padding-top:3px;}
.footer .fonterInfo {text-align:center;color:#6e6e6e;line-height:36px;}
.footerSortLine {height:1px;background:#292929;margin-bottom:5px;}
.footerSort {padding-bottom:5px;}

.footerSort a {color:#6e6e6e;padding:0px 12px;border-right:none;}
.footerSort a:hover,.footerTop a:hover {color:#e02445;}
.footerSort a:last-child {border-right:none;}
.fonterInfo .footNav {height:24px;line-height:24px;padding-top: 6px}
.fonterInfo .footNav a,.fonterInfo .telTime a,.footCopyright .telTime a {color:#6e6e6e;margin:0 12px;}
.fonterInfo .footNav span.otherFoot .telTime span {font-size:12px;}
.fonterInfo .footNav a.footIco,.fonterInfo .telTime a.footIco {margin:0 0 0 15px}
.fonterInfo .footNav a:hover,.otherFoot .telTime a:hover {color:#e02445}
.fonterInfo .bianHao {color:#999;}
.fonterInfo .beiAn {color:#424242;margin-left: 3px;}

.footer .fonterInfo.otherFoot {text-align:center;border-top:none;padding-top:0;color:#6e6e6e;line-height:36px;}
.otherFoot .footerSort {border-bottom:1px #292929 solid;padding-bottom:15px;margin-bottom:10px;}
.otherFoot .telTime {height:24px;line-height:24px;padding:8px 0 6px;}

