@charset "utf-8";
/*
	[DESTOON B2B System] Copyright (c) 2008-2018 www.destoon.com
	This is NOT a freeware, use is subject to license.txt
*/
* {word-break:break-all;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Lucida Grande",Helvetica,Arial,Verdana,"Microsoft YaHei";}
body {margin:0;font-size:14px;color:#333333;background:#EFEFF4;}/*-webkit-user-select:none;*/
ul li {list-style-type:none;}
ol li {list-style-type:decimal;}
ul,form {margin:0px;padding:0px;}
form {margin:0px;}
td {font-size:14px;}
img {border:none;}
a:link,a:visited,a:active,a:hover {color:#333333;text-decoration:none;}
a.b:link,a.b:visited,a.b:active,a.b:hover{text-decoration:none;color:#007AFF;}
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
input,textarea,select {outline:none;}
.f_red {color:red;}
.f_blue {color:blue;}
.f_green {color:green;}
.f_orange {color:#FF6600;}
.f_gray {color:#666666;}
.f_price {color:#FF0000;}
.f_r {float:right;}
.t_c {text-align:center;}
.t_r {text-align:right;}
.c_b {clear:both;}
.f_b {font-weight:bold;}
.lh20 {line-height:200%;}
.px14 {font-size:14px;}
.px12 {font-size:12px;}
.dsn {display:none;}
.img-circle {border-radius:50%;}
.b10 {height:10px;clear:both;overflow:hidden;width:100%}
.blank-10 {height:10px;clear:both;}
.blank-16 {height:16px;clear:both;}
.blank-20 {height:20px;clear:both;}
.blank-32 {height:32px;clear:both;}
.blank-35 {height:36px;clear:both;}
.main {background:#FFFFFF;clear:both;}
.bd-t {border-top:#D9D9D9 1px solid;}
.bd-r {border-right:#D9D9D9 1px solid;}
.bd-b {}
.bd-l {border-left:#D9D9D9 1px solid;}

.btn,.btn-red,.btn-green,.btn-blue,.btn-orange {color:#FFFFFF;font-size:18px;width:100%;line-height:44px;border:none;border-radius:4px;text-align:center;-webkit-appearance:none;}
.btn {background:#FFFFFF;border:#E4E4E4 1px solid;color:#000000;}
.btn:hover {background:#DEDEDE;border:#CDCDCD 1px solid;}
.btn-green {background:#1AAD19;}
.btn-green:hover {background:#179B16;}
.btn-blue {background:#ff8450;}
.btn-blue:hover {background:#0569D5;}
.btn-orange {background:#FF8800;}
.btn-orange:hover {background:#FF6600;}
.btn-red {background:#E64340;}
.btn-red:hover {background:#CE3C39;}
.input-checkbox {width:24px;height:24px;background:url('img/icon-check.png') no-repeat;background-size:24px 24px;}
.input-checkbox-checked {width:24px;height:24px;background:url('img/icon-checked.png') no-repeat;background-size:24px 24px;}

.op-nav{z-index:109;font-size:14px;color:#fff;top:0px;width:100%;padding:16px 0 13px 0px;
    background: #f2f2f2;
    height: 32px;
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(0deg,#ff7200,#ff8450);
    background: -moz-linear-gradient(0deg,#ff7200,#008800);
    background: linear-gradient(90deg,#ff7200,#ff4466);
    color: #fff;
}
.op-nav a{color:#fff}

.op-nav img{ 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}



.op-nav .logo{
	float: left;
	width:110px;
	padding:0 10px;
}
.op-nav .logo h1{
	width: 110px;
    height: 36px;
    background: url(img/wlogo.png) no-repeat left -3px;
	background-size: 100%;
	font-size:0;
}
.op-nav .logo a{display:block}

.op-nav .soso{top: 16px;left: 132px;right: 100px;position:absolute}

.op-nav .soso div{

	width:auto;
	color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
    width: 100%;
    border: 0;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 5px;
    outline: 0;
    font-size: 14px;
    opacity: .8;
    background:rgba(255,255,255,.3) url(img/ico-search.png) no-repeat 10px 7px;
	background-size:16px 16px
	
	
}
.op-nav .soso div{width:auto}
.op-nav .soso div a{display:block}
.op-nav .post{overflow:hidden;float:right;line-height:30px;padding-right:5px;}
.op-nav .post a{padding:0px 6px}




.nav-main{background:#fff;padding:17px 0px 10px;overflow:hidden}
.nav-main ul li{width:25%;display:inline-block;float:left;text-align:center;overflow:hidden;margin-bottom:10px;}
.nav-main ul li span.text{color:inherit;font-size:14px;text-decoration:none; overflow:hidden;width:100%;display:block}
.nav-main ul li a {color:#000}
.nav-main ul li img{width:60%;height:60%;}



.colum{ background:white}
.qc-head{height:45px;clear:both;font-size:16px;line-height:45px;text-align:center;background:white;margin:0px}
.qc-head li{float:left;list-style-type:none;font-weight:normal;width:50%;border-bottom:#e1e1e1 1px solid; }
.qc-head li.current{border-bottom:#ff7200 1px solid;color:#ff7200}
.qc-body {margin:0px}
.qc-body dl{overflow:hidden;padding:0px;}
.s-list{background:white;overflow:hidden}
.s-list dt{font-size:16px;line-height:45px;height:45px;padding:0px 15px 0px 15px;font-weight:normal; background:white; border-bottom:#e3e3e3 1px solid;margin:0}
.s-list dt:before{content: "";width: 4px;height: 16px;background: #ff7200;float: left;margin: 14px 8px 0 0;}
.s-list h2{font-size:15px;font-weight:normal;height:18px;line-height:18px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;margin:0px 0px 5px 0px}
.s-list h2.vip {background:url('img/icon-vip.png') no-repeat 0 center;background-size:14px 14px;padding-left:15px;}
.s-list ul{overflow:hidden;margin:0px;}
.s-list ul li{ font-size:12px;overflow:hidden;padding:15px;border-bottom:#f7f7f7 1px solid}
.s-list ul li img{width:100px;float:left;margin-right:10px;}
.s-list ul li .text{overflow:hidden}
.s-list ul li p.c0{height:20px;line-height:20px;width:100%;overflow:hidden;font-size:12px;text-overflow: ellipsis;white-space: nowrap;color:#777; margin:0px}
.s-list ul li em{font-style:normal;margin-left:10px}
.s-list ul li p.c1{margin:0px;margin-top:8px}
.s-list ul li p.c1 i{border:#f46 1px solid;font-style:normal;padding:0px 3px;height:16px;line-height:14px;margin-right:10px;font-size:11px;overflow:hidden;border-radius:3px;color:#f46;display:none}
.s-list ul li p.c2{color:#ff7200;font-size:16px;line-height:16px;margin-top:12px;overflow:hidden;margin-bottom:0px;}
.s-list ul li p.c2 span{float:right;font-size:12px;color:#777}
.s-list ul li p.c3{height:20px;line-height:20px;width:100%;overflow:hidden;font-size:12px;text-overflow: ellipsis;white-space: nowrap;color:#777; margin:0px;margin-top:12px}

a.more{display:block;width:150px;margin:15px auto;text-align:center;font-size:16px;height:30px;line-height:30px;border-radius:20px;border:#ff7200 1px solid;color:#ff7200}

.list-sell{background:white;overflow:hidden}
.list-sell dl{padding:15px 15px;overflow:hidden;border-bottom:#efefef 1px solid;margin:0}
.list-sell dl img{float:left;margin-right:10px;height:75px;width:95px;margin-top:3px}
.list-sell ul{overflow:hidden}
.list-sell ul h3{line-height:20px;;font-size:14px;padding:0;margin:0;font-weight:normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: 400;margin-bottom:5px;}
.list-sell ul h4{line-height:20px;;font-size:16px;padding:0;margin:0;font-weight:normal;overflow: hidden;font-weight: 400;margin-bottom:5px;}

.list-sell ul p{line-height:25px;font-size:14px;padding:0;margin:0;color:#666}
.list-sell ul p.f_red{color:#f46;margin-bottom:6px;font-size:18px}
.list-sell ul p span{float:right}

.nav{line-height:30px;padding:5px 15px;font-size:14px; background:white;border-bottom:#efefef 1px solid}

.s-title{font-size:16px;height:40px;line-height:40px;border-bottom:#e3e3e3 1px solid;border-top:#e3e3e3 1px solid;color:#ff7200;padding:0px 15px;background:#f7f7f7}
.s-title:before{content: "";width: 2px;height: 16px;background: #ff7200;float: left;margin: 12px 8px 0 0;}
.s-title a{color:#ff7200}


.tid{font-size:12px;padding:5px 10px 5px 10px; background:white;overflow:hidden;border-radius:2px;border-bottom:#efefef 1px solid;}
.tid dt{font-size:12px;width:60px;float:left;font-weight:bold;line-height:24px;padding:2px 0px;background:#ff7200;text-align:center;color:white;margin-right:15px}
.tid dl{width:100%;clear:both;overflow:hidden;margin-bottom:8px;background:white}
.tid dl dd{overflow:hidden;line-height:24px;}
.tid dl li{float:left;padding:2px 15px 2px 0px;float:left;list-style-type:none;}
.tid dl li a.cur{border:#ff7200 1px solid;padding:4px 4px;border-radius:2px;color:#ff7200}

.com-bar{position:fixed;z-index:9;bottom:0;background:rgba(0,0,0,.8);width:100%;height:55px;display:block}
.com-bar ul{overflow:hidden}
.com-bar li{float:left;width:28%; text-align:center}
.com-bar li i{margin: auto;display: block;width:25px;height:25px;margin-top:8px;background-size:100% 100%;background-repeat:no-repeat;}
.com-bar .btn-back i{background-image:url("img/fix-back.png")}
.com-bar .btn-tel i{background-image:url("img/fix-tel.png")}
.com-bar li a{ display: inline-block;  color: #f7f7f7; font-size: 14px; font-weight: bold;text-align: center;}
.com-bar .btn-chat{float:right;color:#fff;background:#ff7200;text-align:center;line-height:55px;width:44%}
.com-bar .btn-chat a{display:block;color:inherit;font-size:16px;}
.com-bar-blank{height:55px;overflow:hidden;width:100%}

.home-head {width:100%;box-shadow: 0 0 5px #acacac;-moz-box-shadow: 0 0 5px #acacac;-webkit-box-shadow: 0 0 5px #acacac;height: 100px;padding-top:25px;overflow: hidden; background:url(img/2435968_759141069.png) no-repeat; background-size:100% 100%}
.home-head img {float:left;border-radius:50%;margin:10px 0px 0 10px;}
.home-head ul {float:left;margin:12px 0 0 10px;}
.home-head li {height:30px;line-height:26px;}
.home-head strong {font-size:16px;}
.home-head span{background:#ff7200;padding:3px 8px;color:#fff;overflow:hidden;border-radius:3px;font-size:12px;}
.home-quick {height:70px;background:#FFFFFF;text-align:center;padding:18px 0; overflow:hidden}
.home-quick li {width:25%;float:left;}
.home-quick img {width:46px;margin:0 0 6px 0;}
.home-quick span {display:block;font-size:14px;}
.m-focus{width:100%;overflow:hidden; }
.m-focus-box{overflow:hidden; margin:0 auto; position:relative;}
.m-focus{display: block;overflow: hidden; position: relative; }
.m-focus .m-focus-box { margin: 0 auto; overflow: hidden; position: relative; backface-visibility: hidden; }
.m-focus .m-focus-box .swiper-wrapper li { float: left; list-style-type:none }
.m-focus .m-focus-box .swiper-wrapper li a { position: relative; width: 100%; display: block; }
.m-focus .m-focus-box .swiper-wrapper img { width: 100%; display: block; }
.m-focus .swiper-container { display: none; }
.m-focus-box .b-menu{text-align: center;position: absolute;width: 100%;left: 0;bottom:5px;z-index: 10;}
.m-focus-box .swiper-pagination-switch{display:inline-block; width:12px; height:12px; border-radius:10px; margin-right:5px; cursor:pointer;}

.swiper-pagination-bullet {
  display: inline-block;
  border-radius: 100%;
  border:#fff 1px solid;
  cursor:pointer;
  margin: 0 5px;
  width:12px; height:12px;
}

.product-box{width:100%;clear:both;overflow:hidden}
.product-box h3{font-size:16px;line-height:45px;height:45px;padding:0px 15px 0px 15px;margin:0}
.product-box h3:before{content: "";width: 4px;height: 16px;background: #ff7200;float: left;margin: 14px 8px 0 0;}
.product-box h3 span{float:right;font-weight:normal;}

.product-box h2{font-size:16px;font-weight:500;color:#d11120; letter-spacing:1px; text-align:center;margin:0;line-height:40px;height:40px;}
.product-box h2 em{font-style:normal;width:3px;height:3px;background:url(img/indexIcon2018_2.png) no-repeat;background-size:3px 3px;display:inline-block;vertical-align:middle;margin:0 5px 0 5px;}



.product-box ul{overflow:hidden;margin:0px}
.product-box ul li{ font-size:14px;background:white;overflow:hidden; position:relative}
.product-box ul li img{width:100%; height:auto;}
.product-box ul li p{line-height:18px;height:36px;padding-top:8px;width:100%;margin:0;overflow:hidden}
.product-box ul li p.price{color:#d11120;height:24px;overflow:hidden;font-size:16px;}
.product-box ul li .c1{position:absolute; top:8px; right:0px}
.product-box ul li .c1 i{border:#f46 1px solid;font-style:normal; background:#f46;padding:0px 3px;height:16px;line-height:14px;margin-right:8px;font-size:11px;overflow:hidden;color:white}



.product-box ul li{width:43.4%;padding:3%; background:#fff; margin-top:1.6%;overflow:hidden;}

.product-box ul li:nth-child(odd){float:left;}

.product-box ul li:nth-child(even){float:right;}


.news-box{width:100%;clear:both;overflow:hidden}
.news-box h3{font-size:16px;line-height:45px;height:45px;padding:0px 15px 0px 15px;font-weight:normal; background:white; border-bottom:#e3e3e3 1px solid;margin:0}
.news-box h3:before{content: "";width: 4px;height: 16px;background: #ff7200;float: left;margin: 14px 8px 0 0;}
.news-box h3 span{float:right;font-size:14px;}


.news-box ul{overflow:hidden;margin:0px; background:white;padding:15px}
.news-box ul li{ font-size:14px;overflow:hidden;line-height:30px;height:30px;}



.about-box{background:#ffffff;width:100%;padding:0px;}
.about-box dl{padding:15px 15px;border-top:none;line-height:25px;margin:0}
.about-box h3{font-size:16px;line-height:45px;height:45px;padding:0px 15px 0px 15px;font-weight:normal; background:white; border-bottom:#e3e3e3 1px solid;margin:0;text-align:left}
.about-box h3:before{content: "";width: 4px;height: 16px;background: #ff7200;float: left;margin: 14px 8px 0 0;}
.contact-us{ background:rgba(0,0,0,.9);padding:15px;color:white;line-height:25px; text-align:center;overflow:hidden}
.contact-us p{margin:0}


.float-tel{position:fixed;z-index:9;bottom:90px;width:45px;height:45px;display:block;right:10px;}
.float-tel a{display:block;background:#ff7200 url(img/710549ae76e7d06e2f8c59fc4da03437.png) no-repeat center;background-size:50% 50%;height:45px;width:45px;border-radius:50%;font-size:0;}

.footer{background:white;padding:15px; text-align:center;border-bottom:#e3e3e3 1px solid;}
.copyright{background:white;padding:15px; text-align:center;line-height:25px}
.footer a{padding:0px 5px}
.f-blank{height:60px; overflow:hidden}

.news-list{width:100%;clear:both;overflow:hidden; background:white}
.news-list h3{font-size:16px;line-height:45px;height:45px;padding:0px 15px 0px 15px;border-bottom:#e3e3e3 1px solid;margin:0}
.news-list h3:before{content: "";width: 4px;height: 16px;background: #ff7200;float: left;margin: 15px 8px 0 0;}
.news-list h3 span{float:right; font-weight:normal}
.news-list ul{overflow:hidden;margin:0px;}
.news-list ul li{ font-size:14px;overflow:hidden;padding:15px;border-bottom:#f7f7f7 1px solid}
.news-list ul li img{width:120px;float:left;margin-right:10px;}
.news-list ul li .text{overflow:hidden}
.news-list ul li p{line-height:20px;height:60px;width:100%;margin:0;overflow:hidden;font-size:18px;}
.news-list ul li em{font-size:12px; overflow:hidden;color:#777; font-style:normal}
.news-list ul.only{overflow:hidden;margin:0px;}
.news-list ul.only li{ font-size:16px;overflow:hidden;padding:15px;border-bottom:#f7f7f7 1px solid}
.news-list ul.only li i{font-style:normal;float:right;font-size:14px}

.float-share{position:fixed;z-index:9;bottom:60px;width:40px;height:40px;display:block;right:10px;background:rgba(0,0,0,.3) url(image/fs.png) no-repeat center;background-size:50% 50%;border-radius:50%}
.float-share a{display:block;height:40px;width:40px;font-size:0;}


.b-box{background:#fff;overflow:hidden;}
.b-box dt{font-size:16px;line-height:45px;height:45px;padding:0px 15px 0px 15px;border-bottom:#e3e3e3 1px solid;margin:0; background:#f7f7f7}
.b-box dt:before{content: "";width: 4px;height: 16px;background: #ff7200;float: left;margin: 15px 5px 0 0;}
.b-box dt img{height:16px;width:auto;margin-right:5px;padding:0px;margin-top:3px;}
.b-box dt span{float:right;font-size:14px;}
.b-box ul{padding:10px 10px;overflow:hidden;margin:0px;}
.b-box ul li {line-height:32px;height:32px;overflow:hidden; font-size:14px;}


	.c-contact{ padding:15px;background: linear-gradient(135deg,#ff7200,#f46); overflow:hidden;margin:10px 0px;}
	.clogo{width:50px;height:50px;margin:0px auto}
	.clogo img{width:100%;border-radius:50%}
	.cname{text-align:center;font-size:14px;font-weight:bold;padding:10px 0px}
	.cname a{color:white}
	.cinter{width:180px;margin:0px auto}
	.cinter a{border:#fff 1px solid;border-radius:3px;padding:5px 0px;font-weight:bold; text-align:center;height:25px;line-height:25px; display:block;color:#fff}
	
	
	
	.cinter a:nth-child(1) { width:80px; float:left }
.cinter a:nth-child(2) { width:80px; float:right }



.head-bar-fix {height:48px;clear:both;}
.head-bar {width:100%;height:48px;line-height:48px;overflow: hidden;background: -webkit-linear-gradient(0deg,#ff7200,#ff7200);background: -moz-linear-gradient(0deg,#ff7200,#ff7200);background: linear-gradient(90deg,#ff7200,#ff7200);color: #fff;position:fixed;z-index:9;left:0;top:0;-webkit-user-select:none;}
.head-bar img {width:24px;height:24px;vertical-align:top;padding-top:12px;}
.head-bar span {color:#fff;font-size:18px;}
.head-bar-title {position:absolute;z-index:9;left:80px;right:80px;font-size:18px;font-weight:bold;text-align:center;word-wrap:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.head-bar-left {float:left;padding:0 0 0 10px;}
.head-bar-back {float:left;padding:0 0 0 5px;}
.head-bar-right {float:right;padding:0 10px 0 0;}

.foot-bar-fix {height:48px;clear:both;}
.foot-bar {width:100%;height:48px;overflow:hidden;background:#f5f5f5;position:fixed;z-index:9;left:0;bottom:0;-webkit-user-select:none;}
.foot-bar li {width:25%;height:48px;float:left;text-align:center;font-size:11px;}
.foot-bar span {display:block;padding-top:32px;}
.foot-bar em {font-style:normal;font-size:10px;position:relative;z-index:10;display:block;width:5px;height:5px;left:50%;margin:-38px 0 0 8px;background:#FF0000;border:1px solid #F43531;border-radius:5px;}
.foot-bar .icon-home {background:url('img/icon-home.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-home-on {background:url('img/icon-home-on.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-channel {background:url('img/icon-channel.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-channel-on {background:url('img/icon-channel-on.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-my {background:url('img/icon-my.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-my-on {background:url('img/icon-my-on.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-more {background:url('img/icon-more.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-more-on {background:url('img/icon-more-on.png') no-repeat center 5px;background-size:24px 24px;}
.foot-bar .icon-home span,.foot-bar .icon-channel span,.foot-bar .icon-my span,.foot-bar .icon-more span {color:#7A7E83;}
.foot-bar .icon-home-on span,.foot-bar .icon-channel-on span,.foot-bar .icon-my-on span,.foot-bar .icon-more-on span {color:#007AFF;}

.foot-comment {text-align:right;margin:10px 10px 0 0;line-height:28px;font-size:16px;}
.foot-comment div {position:absolute;z-index:10;left:10px;right:60px;text-align:center;background:#FFFFFF;color:#999999;font-size:14px;}

.my-cart {width:46px;height:46px;background:url('img/home-cart.png') no-repeat center center;background-size:46px 46px;opacity:0.9;position:fixed;z-index:10;right:10px;bottom:60px;}
.my-cart em {display:block;height:16px;line-height:16px;padding:0 6px;float:right;font-size:12px;color:#FFFFFF;font-style:normal;background:#FF0000;border-radius:50%;}

.user-info {height:84px;border-top:#D9D9D9 1px solid;background:#FFFFFF url('img/list-set.png') no-repeat right center;background-size:23px 13px;}
.user-info img {float:left;border-radius:50%;margin:10px 16px 0 16px;}
.user-info div {float:left;line-height:26px;margin:16px 0 0 0;}
.user-info strong {font-size:18px;font-weight:normal;}

.list-set {background:#FFFFFF;border-top:#D9D9D9 1px solid;font-size:18px;}
.list-set li {background:#FFFFFF;}
.list-set div {margin-left:15px;height:44px;line-height:44px;padding:0 36px 0 0;overflow:hidden;border-top:#D9D9D9 1px solid;background:url('img/list-set.png') no-repeat right center;background-size:23px 13px;}
.list-set a {display:block;width:100%;height:44px;}
.list-set em {display:block;height:16px;line-height:16px;padding:0 6px;float:right;font-size:12px;color:#FFFFFF;font-style:normal;background:#FF0000;border-radius:10px;margin-top:14px;}
.list-set span {float:right;font-size:14px;color:#333333;padding-left:10px;}
.list-set li:first-child div {border:none;}

.list-set input,.list-set select {border:#EEEEEE 1px solid;border-radius:0;-webkit-appearance:none;padding:4px;font-size:14px;}

.list-set-img div {margin-left:50px;}
.list-set-img img {width:24px;height:24px;position:absolute;z-index:8;margin:10px 0 0 -36px;}

.list-txt {border-top:#D9D9D9 1px solid;font-size:16px;}
.list-txt li {height:44px;line-height:44px;padding:0 30px 0 15px;overflow:hidden;background:#FFFFFF url('img/list-set.png') no-repeat right center;background-size:23px 13px;}
.list-txt a {display:block;width:100%;height:44px;}
.list-txt span {float:right;font-size:11px;color:#6D6D72;padding-left:10px;}

.list-img {height:84px;background:#FFFFFF;overflow:hidden;clear:both;border-bottom:#e3e3e3 1px solid;padding:0 12px;}
.list-img img {float:left;margin:12px 12px 0 0;}
.list-img ul {margin:12px 0 0 0; overflow:hidden}
.list-img li {height:30px;line-height:30px;overflow:hidden;}
.list-img strong {font-size:16px;display:block;width:100%;font-weight:normal;}
.list-img strong span {font-size:16px;}
.list-img em {font-size:12px;color:#666666;font-style:normal;}
.list-img i {font-size:12px;color:#F23030;font-style:normal;float:right;}
.list-img span {font-size:12px;color:#666666;}
.list-img .price {font-size:12px;color:#FF0000;}
.list-img .vip {background:url('img/icon-vip.png') no-repeat 0 center;background-size:14px 14px;padding-left:15px;}
.list-img .check {float:right;width:32px;height:30px;background:url('img/icon-check.png') no-repeat center center;background-size:20px 20px;}
.list-img .checked {float:right;width:32px;height:30px;background:url('img/icon-checked.png') no-repeat center center;background-size:20px 20px;}
.list-img .sheet {float:right;width:32px;height:30px;background:url('img/icon-sheet.png') no-repeat center center;background-size:20px 20px;}

.list-user {height:32px;overflow:hidden;padding:0 16px;margin-top:10px;}
.list-user img {float:left;}
.list-user ul {position:absolute;left:58px;right:16px;}
.list-user li {line-height:16px;color:#999999;}
.list-user span {float:right;font-size:12px;}
.list-user em {font-size:11px;font-style:normal;}

.list-inp {background:#FFFFFF;padding:0 16px;}
.list-inp div {width:100%;height:44px;line-height:44px;font-size:16px;}
.list-inp input[type="text"],.list-inp input[type="password"],.list-inp input[type="number"],.list-inp input[type="tel"],.list-inp input[type="email"] {width:98%;height:24px;line-height:24px;border:none;padding:0;margin:10px 0 0 0;font-size:16px;}

.list-btn {padding:0 16px;}

.list-pay {background:#FFFFFF;border-top:#D9D9D9 1px solid;font-size:18px;}
.list-pay li {background:#FFFFFF;}
.list-pay div {margin-left:50px;height:44px;line-height:44px;overflow:hidden;border-top:#D9D9D9 1px solid;}
.list-pay em {display:block;height:16px;line-height:16px;padding:0 6px;float:right;font-size:12px;margin-top:7px;}
.list-pay span {float:right;font-size:12px;color:#666666;}
.list-pay li:first-child div {border:none;}
.list-pay img {width:24px;height:24px;position:absolute;z-index:9;margin:10px 0 0 -36px;border-radius:4px;}
.list-pay .check {width:32px;height:30px;background:url('img/icon-check.png') no-repeat center center;background-size:24px 24px;}
.list-pay .checked {width:32px;height:30px;background:url('img/icon-checked.png') no-repeat center center;background-size:24px 24px;}

.list-tab {padding:16px;background:#FFFFFF;}
.list-tab ul {border:#444444 1px solid;border-radius:4px;height:24px;line-height:24px;font-size:12px;text-align:center;display:-moz-box;display:-webkit-box;display:box;}
.list-tab li {border-right:#444444 1px solid;color:#444444;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.list-tab li:last-child {border-right:none;}
.list-tab span {color:#444444;display:block;width:100%;height:100%;}
.list-tab .on {background:#444444;color:#FFFFFF;}
.list-tab .on span {color:#FFFFFF;}

.list-menu {background:#FFFFFF url('img/bg-menu.png') repeat-x 0 bottom;height:44px;overflow-x:auto;font-size:16px;}
.list-menu ul {width:10000px;padding:0 10px;}
.list-menu li {height:42px;line-height:42px;padding:0 10px;border-bottom:#EFEFF4 2px solid;float:left;}
.list-menu .on {border-bottom:#007AFF 2px solid;color:#007AFF;}

.list-empty {padding:40px 20px;line-height:200%;background:#FFFFFF;text-align:center;}

.order-t {height:44px;line-height:44px;padding:0 32px 0 16px;overflow:hidden;background:#FFFFFF url('img/list-set.png') no-repeat right center;background-size:23px 13px;}
.order-t em {font-size:12px;font-style:normal;float:right;}
.order-p {height:44px;line-height:44px;padding:0 16px;overflow:hidden;background:#FFFFFF;}
.order-p input[type="text"] {width:50%;border:#B2B2B2 1px solid;padding:4px 6px;border-radius:0;font-size:14px;-webkit-appearance:none;}
.order-b {height:50px;padding:0 16px;overflow:hidden;text-align:right;}
.order-b a {display:inline-block;width:72px;height:24px;line-height:24px;background:#FFFFFF;border:#D9D9D9 1px solid;border-radius:10px;margin:12px 0 0 16px;font-size:12px;text-align:center;}

.title {font-size:20px;line-height:22px;padding:16px;}
.info {font-size:14px;padding:0 16px 16px 16px;color:#666666;border-bottom:#efefef 1px solid}
.content {font-size:16px;line-height:180%;padding:10px 16px;}
.content img {max-width:98%;height:auto;}
.content table {max-width:98%;height:auto;}
.content a {color:#007AFF;}
.award {padding:32px;text-align:center;}
.award div {width:80px;height:44px;line-height:44px;font-size:20px;font-weight:bold;letter-spacing:2px;margin:auto;background:#FFFFFF;color:#E94657;border:#E94657 2px solid;border-radius:10px;}
.award div:hover {background:#E94657;color:#FFFFFF;}
.content-msg {font-size:16px;line-height:30px;padding:44px 15px 44px 10px;text-align:center;}
.head {height:44px;line-height:44px;font-size:16px;padding:0 16px;}
.contact {padding:10px 16px;font-size:16px;line-height:200%;}
.pages {height:44px;line-height:44px;text-align:center;background:#F7F7F7;clear:both;font-size:16px;}
.pages a {padding-left:10px;}

.album {padding:0px 0;text-align:center;}
.album_o {display:inline-block;width:10px;height:10px;margin:5px;background:#FFFFFF;border:1px solid #007AFF;border-radius:10px;}
.album_c {display:inline-block;width:10px;height:10px;margin:5px;background:#007AFF;border:1px solid #007AFF;border-radius:10px;}

.share_icon {display:none;}

.ui-ok {background:#FFFFFF url('img/icon-ok.png') no-repeat center 44px;background-size:100px 100px;padding:188px 16px 44px 16px;text-align:center;}
.ui-ko {background:#FFFFFF url('img/icon-ko.png') no-repeat center 44px;background-size:100px 100px;padding:188px 16px 44px 16px;text-align:center;}
.ui-ok p,.ui-ko p {margin:0;font-size:20px;font-weight:bold;padding-bottom:44px;}
.ui-ok div,.ui-ko div {font-size:16px;color:#999999;padding-bottom:44px;}
.ui-ok input,.ui-ko input {margin-bottom:16px;}

.ui-form {background:#FFFFFF;padding:0 16px;}
.ui-form p {padding:16px 0;margin:0;font-size:16px;font-weight:bold;clear:both;}
.ui-form div {line-height:32px;}
.ui-form em {padding-left:6px;font-size:12px;color:#FF0000;}
.ui-form b {float:right;font-size:12px;color:#FF0000;font-weight:normal;}
.ui-form label {display:inline;margin:0 0 0 6px;font-size:16px;}
.ui-form input[type="text"],.ui-form input[type="password"],.ui-form input[type="search"],.ui-form input[type="tel"],.ui-form input[type="number"],.ui-form input[type="email"],.ui-form input[type="url"] {box-sizing:border-box;width:100%;height:44px;line-height:44px;border:#B2B2B2 1px solid;padding:0 6px;border-radius:0;font-size:14px;-webkit-appearance:none;}
.ui-form input[type="search"] {background:url('img/ico-search.png') no-repeat 6px center;background-size:16px 16px;padding:0 28px;}
.ui-form input[type="date"] {width:150px;height:44px;line-height:44px;border:#B2B2B2 1px solid;border-radius:0;padding:0 10px;font-size:14px;-webkit-appearance:none;}
.ui-form input[type="datetime-local"] {width:180px;height:44px;line-height:44px;border:#B2B2B2 1px solid;border-radius:0;padding:0 10px;font-size:14px;-webkit-appearance:none;}
.ui-form input[type="radio"] {border:#B2B2B2 1px solid;}
.ui-form input[type="checkbox"] {border:#B2B2B2 1px solid;}
.ui-form select {padding:0 3px;font-size:14px;height:32px;line-height:32px;border:#B2B2B2 1px solid;margin:0 10px 10px 0;background:#FFFFFF;}
.ui-form textarea {box-sizing:border-box;width:100%;height:72px;line-height:24px;padding:3px;font-size:14px;border:#B2B2B2 1px solid;-webkit-appearance:none;}
.ui-form #captcha {width:100px;}
.ui-form #answer {width:80%;}

.webuploader-container {position:relative;}
.webuploader-element-invisible {position:absolute !important;clip: rect(1px 1px 1px 1px);clip: rect(1px,1px,1px,1px);}
.webuploader-pick {position:relative;display:inline-block;cursor:pointer;width:80px;height:80px;}
.webuploader-pick-hover {}
.webuploader-pick-disable {opacity:0.6;pointer-events:none;}

.ui-form-thumb-show {width:80px;height:60px;border:#EDEEF1 1px solid;margin-right:16px;float:left;display:none;}
.ui-form-thumb-show img {width:80px;height:60px;border:none;}
.ui-form-thumb-upload {width:80px;height:60px;overflow:hidden;border:#EDEEF1 1px solid;float:left;background:url('img/upload-image.png') no-repeat center center;background-size:40px 40px;}
.ui-form-album-show {width:80px;height:80px;border:#EDEEF1 1px solid;margin-right:16px;float:left;display:none;}
.ui-form-album-show img {width:80px;height:80px;border:none;}
.ui-form-album-upload {width:80px;height:80px;overflow:hidden;border:#EDEEF1 1px solid;float:left;background:url('img/upload-image.png') no-repeat center center;background-size:40px 40px;}
.ui-form-file-upload {position:relative;width:32px;height:30px;overflow:hidden;float:right;background:#FFFFFF url('img/upload-file.png') no-repeat center center;background-size:16px 16px;margin:-36px 6px 0 0;}

.ui-editor-toolbar {background:#F8F8F8;height:36px;line-height:36px;padding-left:10px;border-top:#B2B2B2 1px solid;}
.ui-editor-toolbar li {width:36px;height:36px;line-height:36px;text-align:center;float:left;color:#7F8393;font-size:20px;cursor:pointer;font-family:Verdana;}
.ui-editor-img {background:url('img/editor-img.png') no-repeat center center;background-size:20px 20px;overflow:hidden;}
.ui-editor-bold {}
.ui-editor-italic {font-style:italic;}
.ui-editor-underline {text-decoration:underline;}
.ui-editor-content {border-bottom:#B2B2B2 1px solid;background:#FFFFFF;height:240px;padding:10px;font-size:16px;}
.ui-editor-content img {max-width:100%;height:auto;}
.ui-editor-content a {color:#007AFF;}

.ui-toast {height:32px;line-height:32px;overflow:hidden;display:inline-block;padding:0 16px;background:#000000;opacity:0.8;color:#FFFFFF;border-radius:6px;position:fixed;z-index:99;top:76px;font-size:14px;display:none;}
.ui-sheet {opacity:0.9;position:fixed;z-index:99;left:8px;right:8px;bottom:0;display:none;}
.ui-sheet div {background:#FFFFFF;border-radius:4px;}
.ui-sheet li {height:44px;line-height:44px;overflow:hidden;text-align:center;font-size:20px;color:#007AFF;border-top:#D9D9D9 1px solid;}
.ui-sheet p {height:44px;line-height:44px;text-align:center;font-size:20px;color:#007AFF;font-weight:bold;margin:8px 0;background:#FFFFFF;border-radius:4px;}
.ui-sheet em {padding:10px;line-height:24px;font-size:14px;color:#999999;font-style:normal;text-align:center;display:block;}
.ui-sheet span {color:#007AFF;display:block;width:100%;}
.ui-mask {position:fixed;z-index:98;left:0;top:0;right:0;width:100%;height:100%;overflow:hidden;background:#000000;opacity:0.5;display:none;}
.ui-icon-loading {background:url('lib/jquery/images/ajax-loader.gif');background-size:2.875em 2.875em;}