
{template 'header'}
<div class="m">	
	<div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
</div>
<div class="m selectList">
        <dl>
            <dt>行业：</dt>
            <dd> 
      {loop $maincat $k $v}
				<a {if $v[catid]==$catid} class="on"{/if} href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>
				{/loop}

            </dd>
        
        </dl>
        <dl>
            <dt>地区：</dt>
            <dd> 
        {php $mainarea = get_mainarea(0)}
				{loop $mainarea $k $v}
				<a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&areaid='.$v['areaid'])}">{$v[areaname]}</a>
				{/loop}
            </dd>
        </dl>
    </div>

<div class="w1200">
<div class="cg-left">
<div class="cg-list">
		<ul>
		{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
		{if $page == 1}{ad($moduleid,0,'',6)}{/if}	<!--{tag("moduleid=6&condition=status=3$dtype&areaid=$cityid&catid=$catid&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&datetype=5&order=".$MOD[order]."&fields=".$MOD[fields]."&lazy=$lazy&template=list-buy")}-->
		</ul>
		</div>
</div>

	<div class="cg-right">
		{if $MOD[page_inew]}
		<div class="head-sub"><strong>最新发布</strong></div>
		<div class="list-txt">
		<!--{tag("moduleid=6&condition=status=3&areaid=$cityid&datetype=2&pagesize=".$MOD[page_inew]."&order=addtime desc")}-->
		</div>
		{/if}
		{if $MOD[page_iedit]}
		<div class="head-sub"><strong>最新更新</strong></div>
		<div class="list-txt">
		<!--{tag("moduleid=6&condition=status=3&areaid=$cityid&datetype=2&pagesize=".$MOD[page_iedit]."&order=edittime desc")}-->
		</div>
		{/if}
		{if $MOD[page_ihits]}
		<div class="head-sub"><strong>点击排行</strong></div>
		<div class="list-rank"><!--{tag("moduleid=6&condition=status=3 and addtime>$today_endtime-1800*86400&areaid=$cityid&order=hits desc&key=hits&pagesize=".$MOD[page_ihits]."&template=list-rank")}--></div>
		{/if}
	</div>
	<div class="c_b"></div>
</div>
{template 'footer'}