{loop $tags $k $t}
<li>    
<div class="p-img"><a target="_blank" href="{$t[linkurl]}"><img src="{imgurl($t[thumb])}" alt="{$t[alt]}"></a></div>
<div class="p-title"><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></div>
<div class="p-price">{if $t[unit] && $t[price]>0}
			<span><em>{$DT[money_sign]}</em><b>{$t[price]}</b>/{$t[unit]}</span>
		{else}
		<span>面议</span>
		{/if}
		</div>
<div class="p-address">{area_pos($t[areaid],‘/’, 2)}</div>
<div class="p-shop"><a href="{userurl($t[username])}" target="_blank">商铺</a></div>
</li>
{/loop}		
