
<ul>
{loop $tags $i $t}
 {if $t[thumb]}<li>
<a target="blank" href="{$t[linkurl]}"><img src="{imgurl($t[thumb])}" alt="{$t[alt]}"/></a>
<div class="text">
<h5><a target="blank" href="{$t[linkurl]}">{$t[title]}</a></h5>
<p>{dsubstr($t[introduce], 250, '…')}</p>
<i>标签:

						{php $keytags = $t[tag] ? explode(' ', $t[tag]) : array();}
						{loop $keytags $h}
						<a href="{$MODULE[moduleid][linkurl]}search.php?kw={urlencode($h)}" target="_blank" rel="nofollow">{$h}</a>
						{/loop}
</i>
<em>{date("Y-m-d ",$t[addtime])}</em>
 </div>                                  
</li>
{else}
<li class="nopic">
<div class="text">
<h5><a target="blank" href="{$t[linkurl]}">{$t[title]}</a></h5>
<p>{dsubstr($t[introduce], 250, '…')}</p>
<i>标签:

						{php $keytags = $t[tag] ? explode(' ', $t[tag]) : array();}
						{loop $keytags $h}
						<a href="{$MODULE[moduleid][linkurl]}search.php?kw={urlencode($h)}" target="_blank" rel="nofollow">{$h}</a>
						{/loop}
</i>
<em>{date("Y-m-d ",$t[addtime])}</em>
 </div>                                    
</li>
{/if}
{/loop}
</ul>
<div class="b10"></div>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}