{loop $tags $k $t}
<li>
<h5><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></h5>
<p><font>采购数量：</font><b>{$t[amount]}</b></p>
<p><font>发布时间：</font>{date("Y-m-d",$t[addtime])}</p>
<p><font>所在在区：</font>{area_pos($t[areaid], '')}</p>
<a class="baojia" href="{$t[linkurl]}" target="_blank">立即报价</a>
</li>{/loop}		
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}