<div class="productShowGrid">
<ul>

{loop $tags $k $t}
<li id="item_{$t[itemid]}">
                    <div class="productImg"> <a target="_blank" href="{$t[linkurl]}"><img src="{imgurl($t[thumb])}" alt="{$t[alt]}"></a></div>
                    <div class="productInfo">
                        <div class="productTit"><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></div>
                        <div class="companyName">
                            <a href="{userurl($t[username])}" target="_blank">{$t[company]}</a>
                            <div class="iconGroup">
                                <i class="iconSty1">诚</i>
                                <i title="" >普通会员</i>
                            </div>
                        </div>
                    </div>
                    <div class="productPrice">
					{if $t[unit] && $t[price]>0}
			<span><em>{$DT[money_sign]}</em><b>{$t[price]}</b>/{$t[unit]}</span>
		{else}
		<span>面议</span><br/>
		{/if}
					
					
					
					</div>
					<input type="checkbox" id="check_{$t[itemid]}" name="itemid[]" value="{$t[itemid]}" onclick="sell_tip(this, {$t[itemid]});"/>
                </li>
{/loop}		
</ul>

{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}

</div>