
{template 'header'}
<div class="sub-menu">
<div class="m">
		<ul><li class="menuon"><a href="{$MOD[linkurl]}">{$MOD[name]}首页</a></li>
		
		{loop $maincat $k $v}
				<li{if $v[catid]==$catid} class="menuon"{/if}><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a><li>
				{/loop}
		</ul>
	</div>
</div>
<div class="m">
<div class="news-left">
<div class="c-box">
 <ul>
			 <!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and level=3 and thumb<>''&length=44&pagesize=3&order=addtime desc&template=null");}-->
{loop $tags $k $t}
<li>
                    <a href="{$t[linkurl]}">
                     <img src="{imgurl($t[thumb])}" alt="{$t[alt]}"/>
                      <p>{$t[title]}</p>
                    </a></li>
{/loop}			
                            </ul>
</div>

<div class="news-list-box">
<dl>
<!--{tag("moduleid=21&condition=status=3$dtype&catid=$catid&areaid=$cityid&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&datetype=5&order=".$MOD[order]."&fields=".$MOD[fields]."&lazy=$lazy&template=list-cat")}-->
</dl>
</div>
</div>
	<div class="news-list-right">

<div class="box">
<dt><span><a href="/news/">更多</a></span>热门资讯</dt>
<ul>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3&length=54&pagesize=10&order=hits desc&template=null");}-->
{loop $tags $i $t}
<li><em>{$i+1}</em><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></li>
{/loop}
</ul>	 
</div>
<div class="ad mt15"><img src="{DT_SKIN}img/20180315160314-2fe43faf.jpg" width=100% /></div>

</div>
</div>
{template 'footer'}