
{template 'header'}
<div class="sub-menu">
<div class="m">
		<ul><li><a href="{$MOD[linkurl]}">{$MOD[name]}首页</a></li>
		
		{loop $maincat $k $v}
				<li{if $v[catid]==$catid} class="menuon"{/if}><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a><li>
				{/loop}
		</ul>
	</div>
</div>
<div class="m">	
	<div class="nav"><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}</div>
</div>
<div class="m">
<div class="news-left">
<div class="news-list-box">
<dl>
{if $tags}{template 'list-cat', 'tag'}{/if}
</dl>
</div>
</div>
	<div class="news-list-right">
	<div class=" past-box">
<dt><span> <a href="/news">更多</a></span>观点</dt>
<ul>
						
						<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and thumb<>''&length=54&pagesize=4&order=addtime desc&template=null");}-->
	   {loop $tags $i $t}
             <li>
                                        <a href="{$t[linkurl]}">
                                            <img src="{imgurl($t[thumb], 1)}" alt="{$t[title]}">
                                            <p>{$t[title]}</p>
											 <ins>{timetodate($t[addtime],3)} </ins>
                                        </a>
                          </li>{/loop}
	 </ul>
 </div>
<div class="box mt15">
<dt><span><a href="/news/">更多</a></span>热门资讯</dt>
<ul>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3&length=54&pagesize=10&order=hits desc&template=null");}-->
{loop $tags $i $t}
<li><em>{$i+1}</em><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></li>
{/loop}
</ul>	 
</div>
<div class="ad mt15"><img src="{DT_SKIN}img/20180315160314-2fe43faf.jpg" width=100% /></div>

</div>
</div>
{template 'footer'}