
{template 'header'}
<div class="sub-menu">
<div class="m">
		<ul><li class="menuon"><a href="{$MOD[linkurl]}">{$MOD[name]}首页</a></li>{php $child = get_maincat(0, 21, 1);}
        {loop $child $i $c}<li><a href='{$MODULE[21][linkurl]}{$c[linkurl]}'>{set_style($c[catname],$c[style])}</a></li>
        {/loop}</ul>
	</div>
</div>
<div class="m">
	<div class="nav "><div><img src="{DT_SKIN}image/ico-share.png" class="share" title="分享好友" onclick="Dshare({$moduleid}, {$itemid});"/></div><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')} <i>&gt;</i> {$title}</div>
</div>
<div class="w1200">
    <div class="news-left">
        <div class="exContent">
            <div class="exTitle">
                <h1>{$title}</h1>
            </div>
            <div class="exTiInfo">
                <div style="float: left;">
				{if $username}
{php $user_status>5;}
{php $member = userinfo($username);}
{template 'truename', 'chip'}
{/if}
				
                    {if $copyfrom}  来源：{if $fromurl}<a href="{$fromurl}" target="_blank">{/if}{$copyfrom}{if $fromurl}</a>{/if}{/if}
		{if $author}  作者：{$author}{/if}
                  {$adddate}                阅读：{$hits}                    
                </div>
               
            </div>

		{if $CP}{template 'property', 'chip'}{/if}
{template 'content', 'chip'}

 <div class="bdsharebuttonbox" style="float:right"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			
			{if $keytags}
		<div class="tags">
		<i>标签:</i>
		{loop $keytags $t}
		<span><a href="{$MOD[linkurl]}search.php?kw={urlencode($t)}" target="_blank" >{$t}</a></span>
		{/loop}
		</div>
		{/if}
        </div>

	



{if $MOD[fee_award]}<div class="award"><div onclick="Go('{$MODULE[2][linkurl]}award.php?mid={$moduleid}&itemid={$itemid}');">打赏</div></div>{/if}


<div class="gzh">
	<ul>
					<li>
						<img style="width: 150px;" src="{DT_SKIN}img/qrcode.png">
						<p>公众号</p>
					</li>
					<li>
						<img style="width: 150px;" src="{DT_SKIN}img/qrcode.png">
						<p>客服</p>
					</li>
	</ul>
	</div>
        <div class="exDisclaimer">
            <p>免责声明：本站部份内容系网友自发上传与转载，不代表本网赞同其观点。如涉及内容、版权等问题，请在30日内联系，我们将在第一时间删除内容！</p>
        </div>
		<div class="b10"></div>
        <div style="margin:10px 0px 5px 0px"><img src="http://www.gx88.com/company/skin/binli/bottombanner.jpg" width=100%></div>
	
				{if $MOD[page_srelate]}
		{if $keytags}
		<div class="exRelated"><h2>相关资讯</h2>
		<ul><!--{tag("moduleid=21&length=46&condition=status=3 and itemid<>$itemid and keyword like '%".$keytags[0]."%'&areaid=$cityid&pagesize=10&order=".$MOD[order]."&cols=2&template=f-div1", -2)}--></ul></div>
		{else}
		<div class="exRelated"><h2>相关资讯</h2>
		<ul><!--{tag("moduleid=21&length=46&catid=$catid&condition=status=3 and itemid!=$itemid&areaid=$cityid&pagesize=10&order=".$MOD[order]."&cols=2&template=f-div1", -2)}--></ul></div>
		{/if}
		{/if}

      
    </div>
<div class="news-right">
<div class="side-box past-box">
<dt><span> <a href="/news">更多文章</a></span>最新发布</dt>
<ul>
						
						<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3 and thumb<>''&length=54&pagesize=4&order=addtime desc&template=null");}-->
	   {loop $tags $i $t}
             <li>
                                        <a href="{$t[linkurl]}">
                                            <img src="{imgurl($t[thumb], 1)}" alt="{$t[title]}">
                                            <p>{$t[title]}</p>
											 <ins>{timetodate($t[addtime],3)} </ins>
                                        </a>
                          </li>{/loop}
	 </ul>
 </div>

<div class="box mt15">
<dt><span><a href="/news/">更多</a></span>热门推荐</dt>
<ul>
<!--{php $tags=tag("moduleid=21&areaid=$cityid&condition=status=3&length=54&pagesize=10&order=hits desc&template=null");}-->
{loop $tags $i $t}
<li><em>{$i+1}</em><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></li>
{/loop}
</ul>	 
</div>
<div class="ad mt15"><img src="{DT_SKIN}img/20170920141907-173fed28.jpg" width=100% /></div></div>
</div>
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
<div class="b20"></div>
{template 'footer'}